@model ProyectoProgramacion.Models.EF.Pago
@{
    ViewBag.Title = "Registrar pago (SINPE)";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";

}
<br />
<br />
<br />
<br />

<div class="container py-4">
    <h2 class="mb-4">Registrar pago (SINPE)</h2>

    @using (Html.BeginForm("Create", "Pagos", FormMethod.Post, new { enctype = "multipart/form-data", @class = "needs-validation" }))
    {
        @Html.AntiForgeryToken()

        <div class="row g-3">
            <div class="col-md-4">
                <label class="form-label">Contrato</label>
                @Html.DropDownList("ID_Contrato", null, "-- Seleccione --", new { @class = "form-select", required = "required" })
            </div>

            <div class="col-md-4">
                <label class="form-label">Monto (₡)</label>
                @Html.TextBoxFor(m => m.Monto_Pago, new { @class = "form-control", type = "number", step = "0.01", min = "0.01", required = "required" })
            </div>

            <div class="col-md-4">
                <label class="form-label">Número SINPE</label>
                @Html.TextBoxFor(m => m.Numero_SINPE, new { @class = "form-control", maxlength = "50", required = "required" })
            </div>

            <div class="col-md-4">
                <label class="form-label">Método</label>
                <input class="form-control" value="SINPE" readonly />
                @Html.HiddenFor(m => m.Metodo_Pago, new { Value = "SINPE" })
            </div>

            <div class="col-md-8">
                <label class="form-label">Comprobante (imagen)</label>
                <input type="file" name="comprobante" accept="image/*" class="form-control" required />
                <div class="form-text">Formatos: JPG/PNG. Máx. 5 MB.</div>
            </div>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-warning text-dark">
                Enviar pago
            </button>
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary ms-2" })
        </div>
    }
</div>
